<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test_rest</title>
</head>
<body>
    <a th:href="@{/user}">查询用户信息</a><br>
    <a th:href="@{/user/1}">通过ID查询用户信息</a><br>
    <form method="post" th:action="@{/user}">
        用户名：<input type="text" name="username"><br>
        密码：<input type="password" name="password"><br>
        <input type="submit" value="添加">
    </form>
    <form method="post" th:action="@{/user}">
        <input type="hidden" name="_method" value="PUT">
        用户名：<input type="text" name="username"><br>
        密码：<input type="password" name="password"><br>
        <input type="submit" value="修改">
    </form>
</body>
</html>